# Project exclude paths
#/cmake-build-debug/
*.png
*.gz
*.npy
*.npz
*.csv
worker_env/
*/Log/
python/archived/
python/worker/lib/measure/archive/
python/worker/care_worker/
python/worker/lib/model/comp_check_LR/table_qu_non
python/worker/lib/model/comp_check_LR/table_qu
python/worker/lib/model/comp_check_LR/fort.10
python/worker/lib/model/comp_check_LR/fort.1
*.dat
python/output/
python/osg_output/
python/worker/ignore.txt
python/worker/curl-linkgen.sh
python/-f
*.o
*.d
*.pyc
*.pyc
